In [1]:
# Import pandas dependency
import pandas as pd
import timeit
import numpy as np
import datetime
from config import db_password
from sqlalchemy import create_engine

In [2]:
#Read HGAC all county crash data into dataframe
all_years_data_df = pd.read_csv("Resources/Crash_Data/Processed/All8CountyCrashData.csv")

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (11,12,20,21,23,35,36,38,43,44,45,47,81,85,92,93,155,156) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Show data
all_years_data_df

,Unnamed: 0,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,0,13344788,N,N,N,N,N,Y,N,01/16/2015,...,1,0,1,0,1,0,15.0,1.0,7.0,NaN
1,1,14199027,N,N,N,N,N,N,N,01/01/2015,...,0,0,0,0,2,0,15.0,176.0,NaN,NaN
2,2,14199339,N,N,N,N,N,N,N,01/01/2015,...,0,0,2,1,0,0,15.0,39.0,24.0,NaN
3,3,14199513,N,N,N,N,N,N,N,01/01/2015,...,1,0,1,0,1,0,15.0,5.0,110.0,NaN
4,4,14199531,N,N,N,N,N,N,N,01/01/2015,...,1,0,1,0,1,0,15.0,5.0,55.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849303,849303,17920707,N,N,N,N,N,N,N,10/13/2019,...,0,0,2,0,0,0,15.0,5.0,2.0,NaN
849304,849304,17920917,N,N,N,N,N,N,N,08/14/2019,...,0,0,2,0,0,0,15.0,5.0,2.0,NaN
849305,849305,17921020,N,N,N,N,N,N,N,08/14/2019,...,0,0,2,0,0,0,15.0,5.0,2.0,NaN
849306,849306,17921672,N,N,N,N,N,N,N,10/19/2019,...,0,0,1,0,0,0,15.0,29.0,9.0,NaN
849307,849307,17922127,N,N,N,N,N,N,N,08/06/2019,...,0,0,2,0,0,0,15.0,5.0,2.0,NaN

In [4]:
# Clip data into Fort Bend County
Fort_Bend_data=all_years_data_df[all_years_data_df["Cnty_ID"]==79]
Fort_Bend_data.to_csv("Fort_Bend.csv")

In [5]:
#Exporting unique street names
df=pd.DataFrame(all_years_data_df.Street_Name.unique())
df.to_csv("Resources/Street_Names/unique_Street_Name.csv")

In [6]:
#Create column "Year"
all_years_data_df["Year"] =pd.to_datetime(all_years_data_df["Crash_Date"]).dt.strftime('%Y')

In [7]:
#Show data
all_years_data_df

,Unnamed: 0,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,...,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative,Year
0,0,13344788,N,N,N,N,N,Y,N,01/16/2015,...,0,1,0,1,0,15.0,1.0,7.0,NaN,2015
1,1,14199027,N,N,N,N,N,N,N,01/01/2015,...,0,0,0,2,0,15.0,176.0,NaN,NaN,2015
2,2,14199339,N,N,N,N,N,N,N,01/01/2015,...,0,2,1,0,0,15.0,39.0,24.0,NaN,2015
3,3,14199513,N,N,N,N,N,N,N,01/01/2015,...,0,1,0,1,0,15.0,5.0,110.0,NaN,2015
4,4,14199531,N,N,N,N,N,N,N,01/01/2015,...,0,1,0,1,0,15.0,5.0,55.0,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849303,849303,17920707,N,N,N,N,N,N,N,10/13/2019,...,0,2,0,0,0,15.0,5.0,2.0,NaN,2019
849304,849304,17920917,N,N,N,N,N,N,N,08/14/2019,...,0,2,0,0,0,15.0,5.0,2.0,NaN,2019
849305,849305,17921020,N,N,N,N,N,N,N,08/14/2019,...,0,2,0,0,0,15.0,5.0,2.0,NaN,2019
849306,849306,17921672,N,N,N,N,N,N,N,10/19/2019,...,0,1,0,0,0,15.0,29.0,9.0,NaN,2019
849307,849307,17922127,N,N,N,N,N,N,N,08/06/2019,...,0,2,0,0,0,15.0,5.0,2.0,NaN,2019

In [8]:
#Store Prefix for all highways
AllHighwaysPrefix = ["SH","IH","SS","UA","FM","US","BS","SL","BU","FS","BF"]

In [12]:
#Drop NOT needed columns in Crashes Data
all_years_data_df.columns.to_list()

['Unnamed: 0',
 'Crash_ID',
 'Crash_Fatal_Fl',
 'Cmv_Involv_Fl',
 'Schl_Bus_Fl',
 'Rr_Relat_Fl',
 'Medical_Advisory_Fl',
 'Amend_Supp_Fl',
 'Active_School_Zone_Fl',
 'Crash_Date',
 'Crash_Time',
 'Case_ID',
 'Local_Use',
 'Rpt_CRIS_Cnty_ID',
 'Rpt_City_ID',
 'Rpt_Outside_City_Limit_Fl',
 'Thousand_Damage_Fl',
 'Rpt_Latitude',
 'Rpt_Longitude',
 'Rpt_Rdwy_Sys_ID',
 'Rpt_Hwy_Num',
 'Rpt_Hwy_Sfx',
 'Rpt_Road_Part_ID',
 'Rpt_Block_Num',
 'Rpt_Street_Pfx',
 'Rpt_Street_Name',
 'Rpt_Street_Sfx',
 'Private_Dr_Fl',
 'Toll_Road_Fl',
 'Crash_Speed_Limit',
 'Road_Constr_Zone_Fl',
 'Road_Constr_Zone_Wrkr_Fl',
 'Rpt_Street_Desc',
 'At_Intrsct_Fl',
 'Rpt_Sec_Rdwy_Sys_ID',
 'Rpt_Sec_Hwy_Num',
 'Rpt_Sec_Hwy_Sfx',
 'Rpt_Sec_Road_Part_ID',
 'Rpt_Sec_Block_Num',
 'Rpt_Sec_Street_Pfx',
 'Rpt_Sec_Street_Name',
 'Rpt_Sec_Street_Sfx',
 'Rpt_Ref_Mark_Offset_Amt',
 'Rpt_Ref_Mark_Dist_Uom',
 'Rpt_Ref_Mark_Dir',
 'Rpt_Ref_Mark_Nbr',
 'Rpt_Sec_Street_Desc',
 'Rpt_CrossingNumber',
 'Wthr_Cond_ID',
 'Light_Cond_ID',
 'Entr_Road_ID',
 'Road_Type_ID',
 'Road_Algn_ID',
 'Surf_Cond_ID',
 'Traffic_Cntl_ID',
 'Investigat_Notify_Time',
 'Investigat_Notify_Meth',
 'Investigat_Arrv_Time',
 'Report_Date',
 'Investigat_Comp_Fl',
 'ORI_Number',
 'Investigat_Agency_ID',
 'Investigat_Area_ID',
 'Investigat_District_ID',
 'Investigat_Region_ID',
 'Bridge_Detail_ID',
 'Harm_Evnt_ID',
 'Intrsct_Relat_ID',
 'FHE_Collsn_ID',
 'Obj_Struck_ID',
 'Othr_Factr_ID',
 'Road_Part_Adj_ID',
 'Road_Cls_ID',
 'Road_Relat_ID',
 'Phys_Featr_1_ID',
 'Phys_Featr_2_ID',
 'Cnty_ID',
 'City_ID',
 'Latitude',
 'Longitude',
 'Hwy_Sys',
 'Hwy_Nbr',
 'Hwy_Sfx',
 'Dfo',
 'Street_Name',
 'Street_Nbr',
 'Control',
 'Section',
 'Milepoint',
 'Ref_Mark_Nbr',
 'Ref_Mark_Displ',
 'Hwy_Sys_2',
 'Hwy_Nbr_2',
 'Hwy_Sfx_2',
 'Street_Name_2',
 'Street_Nbr_2',
 'Control_2',
 'Section_2',
 'Milepoint_2',
 'Txdot_Rptable_Fl',
 'Onsys_Fl',
 'Rural_Fl',
 'Crash_Sev_ID',
 'Pop_Group_ID',
 'Located_Fl',
 'Day_of_Week',
 'Hwy_Dsgn_Lane_ID',
 'Hwy_Dsgn_Hrt_ID',
 'Hp_Shldr_Left',
 'Hp_Shldr_Right',
 'Hp_Median_Width',
 'Base_Type_ID',
 'Nbr_Of_Lane',
 'Row_Width_Usual',
 'Roadbed_Width',
 'Surf_Width',
 'Surf_Type_ID',
 'Curb_Type_Left_ID',
 'Curb_Type_Right_ID',
 'Shldr_Type_Left_ID',
 'Shldr_Width_Left',
 'Shldr_Use_Left_ID',
 'Shldr_Type_Right_ID',
 'Shldr_Width_Right',
 'Shldr_Use_Right_ID',
 'Median_Type_ID',
 'Median_Width',
 'Rural_Urban_Type_ID',
 'Func_Sys_ID',
 'Adt_Curnt_Amt',
 'Adt_Curnt_Year',
 'Adt_Adj_Curnt_Amt',
 'Pct_Single_Trk_Adt',
 'Pct_Combo_Trk_Adt',
 'Trk_Aadt_Pct',
 'Curve_Type_ID',
 'Curve_Lngth',
 'Cd_Degr',
 'Delta_Left_Right_ID',
 'Dd_Degr',
 'Feature_Crossed',
 'Structure_Number',
 'I_R_Min_Vert_Clear',
 'Approach_Width',
 'Bridge_Median_ID',
 'Bridge_Loading_Type_ID',
 'Bridge_Loading_In_1000_Lbs',
 'Bridge_Srvc_Type_On_ID',
 'Bridge_Srvc_Type_Under_ID',
 'Culvert_Type_ID',
 'Roadway_Width',
 'Deck_Width',
 'Bridge_Dir_Of_Traffic_ID',
 'Bridge_Rte_Struct_Func_ID',
 'Bridge_IR_Struct_Func_ID',
 'CrossingNumber',
 'RRCo',
 'Poscrossing_ID',
 'WDCode_ID',
 'Standstop',
 'Yield',
 'Sus_Serious_Injry_Cnt',
 'Nonincap_Injry_Cnt',
 'Poss_Injry_Cnt',
 'Non_Injry_Cnt',
 'Unkn_Injry_Cnt',
 'Tot_Injry_Cnt',
 'Death_Cnt',
 'MPO_ID',
 'Investigat_Service_ID',
 'Investigat_DA_ID',
 'Investigator_Narrative',
 'Year']

In [20]:
#Create subset of data that will be needed for analysis
all_years_data_df = all_years_data_df[["Crash_ID", "Cmv_Involv_Fl", "Crash_Date", "Crash_Time", 
                             "Crash_Speed_Limit", "Wthr_Cond_ID", "Light_Cond_ID", 
                             "Surf_Cond_ID", "Traffic_Cntl_ID", "Harm_Evnt_ID", "Intrsct_Relat_ID",
                             "FHE_Collsn_ID", "Road_Relat_ID", "Cnty_ID", "City_ID", "Latitude",
                             "Longitude", "Hwy_Sys", "Hwy_Nbr", "Dfo", "Street_Name", "Onsys_Fl",
                             "Rural_Fl", "Crash_Sev_ID", "Day_of_Week", "Shldr_Width_Left",
                             "Shldr_Width_Right", "Median_Width", "Nbr_Of_Lane", "Func_Sys_ID",
                             "Adt_Curnt_Amt", "Adt_Curnt_Year", "Trk_Aadt_Pct", "Curve_Type_ID",
                             "Curve_Lngth", "Cd_Degr", "Sus_Serious_Injry_Cnt", "Nonincap_Injry_Cnt",
                             "Poss_Injry_Cnt", "Non_Injry_Cnt", "Unkn_Injry_Cnt", "Tot_Injry_Cnt", "Death_Cnt", "Year"]]
all_years_data_df.head()

,Crash_ID,Cmv_Involv_Fl,Crash_Date,Crash_Time,Crash_Speed_Limit,Wthr_Cond_ID,Light_Cond_ID,Surf_Cond_ID,Traffic_Cntl_ID,Harm_Evnt_ID,...,Curve_Lngth,Cd_Degr,Sus_Serious_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,Year
0,13344788,N,01/16/2015,01:58 PM,35,11,1,1,8,2,...,NaN,NaN,0,1,0,1,0,1,0,2015
1,14199027,N,01/01/2015,01:39 AM,45,12,4,1,11,10,...,NaN,NaN,2,0,0,0,0,2,0,2015
2,14199339,N,01/01/2015,01:16 AM,30,12,4,1,7,2,...,NaN,NaN,0,0,0,2,1,0,0,2015
3,14199513,N,01/01/2015,03:20 PM,40,2,1,2,20,2,...,NaN,NaN,0,1,0,1,0,1,0,2015
4,14199531,N,01/01/2015,12:59 PM,35,12,1,2,5,2,...,NaN,NaN,0,1,0,1,0,1,0,2015

In [19]:
#View data type
all_years_data_df.dtypes

Crash_ID                   int64
Cmv_Involv_Fl             object
Crash_Date                object
Crash_Time                object
Crash_Speed_Limit          int64
Wthr_Cond_ID               int64
Light_Cond_ID              int64
Surf_Cond_ID               int64
Traffic_Cntl_ID            int64
Harm_Evnt_ID               int64
Intrsct_Relat_ID         float64
FHE_Collsn_ID              int64
Road_Relat_ID            float64
Cnty_ID                    int64
City_ID                    int64
Latitude                 float64
Longitude                float64
Hwy_Sys                   object
Hwy_Nbr                   object
Dfo                      float64
Street_Name               object
Onsys_Fl                  object
Rural_Fl                  object
Crash_Sev_ID               int64
Day_of_Week               object
Shldr_Width_Left         float64
Shldr_Width_Right        float64
Median_Width             float64
Nbr_Of_Lane              float64
Func_Sys_ID              float64
Adt_Curnt_Amt            float64
Adt_Curnt_Year           float64
Trk_Aadt_Pct             float64
Curve_Type_ID            float64
Curve_Lngth              float64
Cd_Degr                  float64
Sus_Serious_Injry_Cnt      int64
Nonincap_Injry_Cnt         int64
Poss_Injry_Cnt             int64
Non_Injry_Cnt              int64
Unkn_Injry_Cnt             int64
Tot_Injry_Cnt              int64
Death_Cnt                  int64
Year                      object
dtype: object

In [37]:
#Read RINO File
All_RINO_df=pd.read_csv("Resources/Roadway_Data/Top10CongestedRINO.csv")
All_RINO_df

,OBJECTID *,REC,RIA_RTE_ID,RTE_GRID,GID,FRM_DFO,TO_DFO,C_SEC,CON,SEC,...,CLMT_ZN,SOIL,LEN_SEC,LN_MILES,DVMT,DTRKVMT,Shape_Length,top10,ID,Corridor_ID
0,113377,1,IH0610-KG,153717,6301,7.951,8.004,0271-17,271,17,...,0,0,0.053,0.318,11096.981,482.777,0.053125,1,1,1
1,113819,1,IH0610-KG,153717,6301,8.004,8.006,0271-17,271,17,...,0,0,0.002,0.012,442.048,19.566,0.002003,1,2,2
2,114808,1,IH0610-KG,153717,6301,8.006,8.484,0271-17,271,17,...,0,0,0.478,3.824,105649.472,4676.274,0.478774,1,3,3
3,115835,1,IH0610-KG,153717,6301,8.484,8.777,0271-17,271,17,...,0,0,0.293,2.344,64760.032,2866.419,0.293500,1,4,4
4,114296,1,IH0610-KG,153717,6301,8.777,10.000,0271-17,271,17,...,0,0,1.223,9.784,270312.352,11964.609,1.225070,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,108301,1,IH0045-KG,153716,1578343126,50.129,50.235,0500-03,500,3,...,0,0,0.106,0.636,22106.830,1070.388,0.106326,10,147,6
147,109551,1,IH0045-KG,153716,1578343126,50.235,50.236,0500-03,500,3,...,0,0,0.001,0.006,208.555,10.098,0.001003,10,148,7
148,108472,1,IH0045-KG,153716,1578343126,50.236,50.482,0500-03,500,3,...,0,0,0.246,1.476,51304.530,2484.108,0.246456,10,149,8
149,110802,1,IH0045-KG,153716,1578343126,50.482,51.599,0500-03,500,3,...,0,0,1.117,11.170,232955.935,11279.466,1.118459,10,150,9
150,110396,1,IH0045-KG,153716,1578343126,51.599,51.600,0500-03,500,3,...,0,0,0.001,0.010,208.555,10.098,0.001000,10,151,10

In [38]:
All_RINO_df.columns.to_list()

['OBJECTID *',
 'REC',
 'RIA_RTE_ID',
 'RTE_GRID',
 'GID',
 'FRM_DFO',
 'TO_DFO',
 'C_SEC',
 'CON',
 'SEC',
 'BMP',
 'EMP',
 'RI_MPT_DATE',
 'HWY',
 'HSYS',
 'HNUM',
 'HSUF',
 'RDBD_ID',
 'FRM_NBR',
 'FRM_SUF',
 'FRM_NUM',
 'FRM_DISP',
 'TO_NBR',
 'TO_SUF',
 'TO_NUM',
 'TO_DISP',
 'FRM_MKR_DATE',
 'TO_MKR_DATE',
 'DIR_TRAV',
 'STE_NAM',
 'DI',
 'CO',
 'CITY',
 'MPA',
 'UAN',
 'UAN_HPMS',
 'RU',
 'MSA_CNTY',
 'MAINT_DIS',
 'MNT_SEC',
 'PBLC_LAND',
 'ADMIN',
 'RDWAY_MAINT_AGCY',
 'F_SYSTEM',
 'RU_F_SYSTEM',
 'SEC_NHS',
 'SEC_NHS_APRV_DT',
 'SEC_STR',
 'SEC_TRUNK',
 'SEC_TRK',
 'SEC_HAZ',
 'SEC_EVAC',
 'SEC_NFH',
 'SEC_STM',
 'SEC_TTT',
 'SEC_PARK',
 'SEC_BIC',
 'SEC_ADP',
 'SEC_FED_AID',
 'MSA_CLS',
 'TOP100ID',
 'TOP_100_BEGIN_TERM',
 'TOP_100_END_TERM',
 'FRGHT_NTWRK',
 'HWY_STAT',
 'HWY_STAT_DATE',
 'DOTT',
 'DCTT',
 'CLSR_RESN',
 'HWY_NOTE',
 'SPD_MAX',
 'SPD_MIN',
 'ALT_SPD_LMT',
 'ALT_SPD_LMT_TYPE',
 'SCHOOL_ZN',
 'LOAD_AXLE',
 'LOAD_GROSS',
 'LOAD_TAND',
 'TOLL_NM',
 'TOLL_HPMS_ID',
 'TOLL_FACILITY_TYPE',
 'TOLL_LANE_TYPE',
 'TOLL_CHRG_TYPE',
 'TOLL_LANES',
 'DBTP',
 'PEAK_DRCT_TOLL',
 'HWY_DES1',
 'ACES_CTRL',
 'BRDG_STRUC_NBR',
 'CAUSEWAY',
 'TUNNEL',
 'MULT_MOD_FCLTY',
 'MED_TYPE',
 'MED_WID',
 'HP_MED_W',
 'NUM_LANES',
 'CLMB_PS_LANE',
 'ACCEL_DECEL_LANE',
 'HOV_LANES',
 'HOV_TYP',
 'ROW_MIN',
 'ROW_W_USL',
 'RB_WID',
 'SUR_W',
 'S_TYPE_I',
 'S_WID_I',
 'S_USE_I',
 'S_TYPE_O',
 'S_WID_O',
 'S_USE_O',
 'CURB_L',
 'CURB_R',
 'BASE_TP',
 'SRF_TYPE',
 'SURF_TREAT_CODE',
 'SURF_TREAT_THICK',
 'SURF_TREAT_YEAR',
 'TRF_STA_ID',
 'ADT_YEAR',
 'ADT_CUR',
 'ADT_ADJ',
 'K_FAC',
 'D_FAC',
 'TRK_AADT_PCT',
 'PCT_SADT',
 'PCT_CADT',
 'AADT_TRUCKS',
 'AADT_SINGLE_UNIT',
 'AADT_COMBINATION',
 'TRK_DHV_PCT',
 'PCT_SDHV',
 'PCT_CDHV',
 'PCT_PK_SUT',
 'PCT_PK_CUT',
 'FLEX_ESAL',
 'RIGID_ESAL',
 'ATH_100',
 'ATH_PCT',
 'MOTORCYCLES',
 'ADT_HIST_YR',
 'HY_1',
 'HY_2',
 'HY_3',
 'HY_4',
 'HY_5',
 'HY_6',
 'HY_7',
 'HY_8',
 'HY_9',
 'DESGN_YR',
 'AADT_DESGN',
 'INCRS_FCTR_PCT',
 'INCRS_FCTR_MS',
 'DHV',
 'TRUCK_HY_1',
 'TRUCK_HY_2',
 'TRUCK_HY_3',
 'TRUCK_HY_4',
 'TRUCK_HY_5',
 'TRUCK_HY_6',
 'TRUCK_HY_7',
 'TRUCK_HY_8',
 'TRUCK_HY_9',
 'HPMSID',
 'HP_VOL_GRP',
 'B_TERM',
 'E_TERM',
 'PHY_RDBD',
 'PEAK_LANE',
 'CNTR_PEAK_LANE',
 'RT_TURN_LANE',
 'LT_TURN_LANE',
 'TRFC_SGNL',
 'PCT_GREEN_TM',
 'NBR_SGNL',
 'NBR_STOP_SIGN',
 'ATGRD_OTHR',
 'LANE_WIDTH',
 'PEAK_PRKG',
 'WIDE_OBST',
 'WIDE_PTNTL',
 'CURV_CLASS_A',
 'CURV_CLASS_B',
 'CURV_CLASS_C',
 'CURV_CLASS_D',
 'CURV_CLASS_E',
 'CURV_CLASS_F',
 'VERT_GRADE_CLASS_A',
 'VERT_GRADE_CLASS_B',
 'VERT_GRADE_CLASS_C',
 'VERT_GRADE_CLASS_D',
 'VERT_GRADE_CLASS_E',
 'VERT_GRADE_CLASS_F',
 'TRRN',
 'PPSD',
 'PSR',
 'PSR_DT',
 'RUTTING',
 'FAULT',
 'CRACK_PCT',
 'CRACK_LNGTH',
 'YR_LAST_IMPRV',
 'YR_LAST_CNSTR',
 'LAST_OVRLY_THCK',
 'PVMT_THICK_RIGID',
 'PVMT_THICK_FLEX',
 'BASE_THCK',
 'CLMT_ZN',
 'SOIL',
 'LEN_SEC',
 'LN_MILES',
 'DVMT',
 'DTRKVMT',
 'Shape_Length',
 'top10',
 'ID',
 'Corridor_ID']

In [39]:
#Create Subset of Roadway data
All_RINO_df = All_RINO_df[["REC", "RIA_RTE_ID", "FRM_DFO", "TO_DFO", "HWY", "HSYS",
                           "HNUM", "DI", "CO", "CITY", "RU", "F_SYSTEM", "SPD_MAX",
                           "HP_MED_W", "NUM_LANES", "SUR_W", "ADT_YEAR", "ADT_CUR", 
                           "ADT_ADJ", "TRK_AADT_PCT", "AADT_TRUCKS", "LANE_WIDTH", "LEN_SEC",
                           "LN_MILES", "DVMT", "DTRKVMT", "top10", "ID", "Corridor_ID","Shape_Length"]]
All_RINO_df.head()

,REC,RIA_RTE_ID,FRM_DFO,TO_DFO,HWY,HSYS,HNUM,DI,CO,CITY,...,AADT_TRUCKS,LANE_WIDTH,LEN_SEC,LN_MILES,DVMT,DTRKVMT,top10,ID,Corridor_ID,Shape_Length
0,1,IH0610-KG,7.951,8.004,IH0610,IH,610,12,102,19750,...,9109,12,0.053,0.318,11096.981,482.777,1,1,1,0.053125
1,1,IH0610-KG,8.004,8.006,IH0610,IH,610,12,102,19750,...,9783,12,0.002,0.012,442.048,19.566,1,2,2,0.002003
2,1,IH0610-KG,8.006,8.484,IH0610,IH,610,12,102,19750,...,9783,12,0.478,3.824,105649.472,4676.274,1,3,3,0.478774
3,1,IH0610-KG,8.484,8.777,IH0610,IH,610,12,102,19750,...,9783,12,0.293,2.344,64760.032,2866.419,1,4,4,0.293500
4,1,IH0610-KG,8.777,10.000,IH0610,IH,610,12,102,19750,...,9783,12,1.223,9.784,270312.352,11964.609,1,5,5,1.225070

In [40]:
All_RINO_df.dtypes

REC               int64
RIA_RTE_ID       object
FRM_DFO         float64
TO_DFO          float64
HWY              object
HSYS             object
HNUM              int64
DI                int64
CO                int64
CITY              int64
RU                int64
F_SYSTEM          int64
SPD_MAX           int64
HP_MED_W          int64
NUM_LANES         int64
SUR_W             int64
ADT_YEAR          int64
ADT_CUR           int64
ADT_ADJ           int64
TRK_AADT_PCT    float64
AADT_TRUCKS       int64
LANE_WIDTH        int64
LEN_SEC         float64
LN_MILES        float64
DVMT            float64
DTRKVMT         float64
top10             int64
ID                int64
Corridor_ID       int64
Shape_Length    float64
dtype: object

In [41]:
#Write adjusted RINO Data
All_RINO_df.dtypes.to_csv("Resources/Roadway_Data/Top10CongestedRINOAdjusted.csv")

In [42]:
#Get Boundary DFO for each Top 10 Congested Corridor
Min_DFO_Limit=All_RINO_df.groupby("top10").min()["FRM_DFO"]
Max_DFO_Limit=All_RINO_df.groupby("top10").max()["TO_DFO"]
#Get Corridor Name for each Top 10 Congested Corridor
Corridor_Names=All_RINO_df.groupby("top10").max()["HWY"]
#Calculate Corridor Length for each Top 10 Congested Corridors
Corridor_Lengths=All_RINO_df.groupby("top10").sum()["Shape_Length"]
Corridor_Lengths

top10
1     3.675239
2     5.523593
3     3.026202
4     7.905374
5     3.467575
6     6.231546
7     9.376923
8     1.575002
9     6.629181
10    2.712559
Name: Shape_Length, dtype: float64

In [43]:
#Create Dataframe with Corridor Names, Numbers, and Min and Max DFO
Top10_Summary_df=pd.DataFrame({"Highway Name":Corridor_Names,"From DFO":Min_DFO_Limit,"To DFO":Max_DFO_Limit,"Length (mi)":Corridor_Lengths})
Top10_Summary_df

      Highway Name  From DFO   To DFO  Length (mi)
top10
1           IH0610     7.951   11.620     3.675239
2           IH0069    28.630   34.144     5.523593
3           IH0069    34.144   37.165     3.026202
4           IH0045    40.598   48.490     7.905374
5           IH0010   751.727  755.189     3.467575
6           IH0610    11.620   17.841     6.231546
7           IH0045    51.600   60.960     9.376923
8           IH0010   767.458  769.030     1.575002
9           IH0010   755.189  761.806     6.629181
10          IH0045    48.892   51.600     2.712559

In [44]:
#Append All Crashes that meet the Highway Name and DFO Criteria
tempdf= pd.DataFrame()
Top10CongestedCrashes_df= pd.DataFrame()
for i in Top10_Summary_df.index:
    tempdf=all_years_data_df[(all_years_data_df["Street_Name"]==Top10_Summary_df["Highway Name"][i])&(all_years_data_df["Dfo"]>Top10_Summary_df["From DFO"][i])
                         &(all_years_data_df["Dfo"]<Top10_Summary_df["To DFO"][i])]
    Top10CongestedCrashes_df=Top10CongestedCrashes_df.append(tempdf)
#Save File
Top10CongestedCrashes_df.to_csv("Resources/Crash_Data/Processed/FortBendTop10CongestedCrashes.csv")

In [45]:
#Create a seperate Df for each of the top 10 congested corridors
corridor1_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[0]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[0]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[0]["To DFO"])]
corridor1_Crashes_df.loc[:,'Top10']=1
corridor2_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[1]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[1]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[1]["To DFO"])]
corridor2_Crashes_df.loc[:,'Top10']=2

corridor3_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[2]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[2]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[2]["To DFO"])]
corridor3_Crashes_df.loc[:,'Top10']=3

corridor4_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[3]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[3]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[3]["To DFO"])]
corridor4_Crashes_df.loc[:,'Top10']=4

corridor5_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[4]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[4]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[4]["To DFO"])]
corridor5_Crashes_df.loc[:,'Top10']=5

corridor6_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[5]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[5]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[5]["To DFO"])]
corridor6_Crashes_df.loc[:,'Top10']=6

corridor7_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[6]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[6]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[6]["To DFO"])]
corridor7_Crashes_df.loc[:,'Top10']=7

corridor8_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[7]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[7]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[7]["To DFO"])]
corridor8_Crashes_df.loc[:,'Top10']=8

corridor9_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[8]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[8]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[8]["To DFO"])]
corridor9_Crashes_df.loc[:,'Top10']=9

corridor10_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[9]["Highway Name"])
                                              &(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[9]["From DFO"])
                                              &(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[9]["To DFO"])]
corridor10_Crashes_df.loc[:,'Top10']=10

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [46]:
#Create one dataframe holding all crash data
Top10CongestedCrashes_df=pd.concat([corridor1_Crashes_df,corridor2_Crashes_df,corridor3_Crashes_df,corridor4_Crashes_df,
                                   corridor5_Crashes_df,corridor6_Crashes_df,corridor7_Crashes_df,corridor8_Crashes_df,
                                   corridor9_Crashes_df,corridor10_Crashes_df])

In [47]:
#Create number of crashes list by corridor
top10_num_crashes=Top10CongestedCrashes_df.groupby(["Top10"]).count()["Crash_ID"]

In [48]:
#Summarize number of crashes by corridor
Top10_Summary_df["Number of Crashes (5 Years)"]=top10_num_crashes

In [49]:
#Summarize number of crashes by mile by corridor
Top10_Summary_df["Crashes Per Mile Per Year"]=Top10_Summary_df["Number of Crashes (5 Years)"]/(Top10_Summary_df["Length (mi)"]*5)

In [50]:
#Show summary
Top10_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year
top10,,,,,,
1,IH0610,7.951,11.620,3.675239,4346,236.501626
2,IH0069,28.630,34.144,5.523593,564,20.421490
3,IH0069,34.144,37.165,3.026202,226,14.936214
4,IH0045,40.598,48.490,7.905374,5920,149.771535
5,IH0010,751.727,755.189,3.467575,3715,214.270780
6,IH0610,11.620,17.841,6.231546,3241,104.019131
7,IH0045,51.600,60.960,9.376923,9687,206.613619
8,IH0010,767.458,769.030,1.575002,630,79.999898
9,IH0010,755.189,761.806,6.629181,5120,154.468554
10,IH0045,48.892,51.600,2.712559,1743,128.513334

In [51]:
#Summarize average,min, max number of lanes and average number AADT for each corridor
Avrg_Lanes=All_RINO_df.groupby("top10").mean()["NUM_LANES"]
Min_Lanes=All_RINO_df.groupby("top10").min()["NUM_LANES"]
Max_Lanes=All_RINO_df.groupby("top10").max()["NUM_LANES"]

In [52]:
#Summarize average,min, max number of lanes and average number AADT for each corridor
Avrg_AADT=All_RINO_df.groupby("top10").mean()["ADT_ADJ"]
Min_AADT=All_RINO_df.groupby("top10").min()["ADT_ADJ"]
Max_AADT=All_RINO_df.groupby("top10").max()["ADT_ADJ"]

In [53]:
#Summarize average number of lanes Crashes Per Mile Per Lane
Top10_Summary_df["Average Lanes"]=Avrg_Lanes
Top10_Summary_df["Crashes Per Mile Per Lane Per Year"]=Top10_Summary_df["Crashes Per Mile Per Year"]/(Top10_Summary_df["Average Lanes"]*5)

In [54]:
#Summarize average AADT,VMT, and Crashes Per 100MVMT
Top10_Summary_df["2019 Average AADT"]=Avrg_AADT
Top10_Summary_df["2019 Average VMT (100M)"]=Top10_Summary_df["2019 Average AADT"]*365*Top10_Summary_df["Length (mi)"]/100000000

In [55]:
Top10_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year,Average Lanes,Crashes Per Mile Per Lane Per Year,2019 Average AADT,2019 Average VMT (100M)
top10,,,,,,,,,,
1,IH0610,7.951,11.620,3.675239,4346,236.501626,7.500000,6.306710,219568.125000,2.945423
2,IH0069,28.630,34.144,5.523593,564,20.421490,9.517241,0.429147,255627.379310,5.153733
3,IH0069,34.144,37.165,3.026202,226,14.936214,7.090909,0.421278,149252.272727,1.648586
4,IH0045,40.598,48.490,7.905374,5920,149.771535,7.416667,4.038783,198826.458333,5.737061
5,IH0010,751.727,755.189,3.467575,3715,214.270780,6.166667,6.949323,285418.500000,3.612442
6,IH0610,11.620,17.841,6.231546,3241,104.019131,9.230769,2.253748,192789.846154,4.385033
7,IH0045,51.600,60.960,9.376923,9687,206.613619,8.133333,5.080663,251257.333333,8.599475
8,IH0010,767.458,769.030,1.575002,630,79.999898,7.428571,2.153843,165008.000000,0.948591
9,IH0010,755.189,761.806,6.629181,5120,154.468554,8.823529,3.501287,315506.235294,7.634150
10,IH0045,48.892,51.600,2.712559,1743,128.513334,8.000000,3.212833,208537.400000,2.064696

In [56]:
#Calculate Crash Rate as Number of crashes by 100M VMT
Top10_Summary_df["Crashes Per 100M VMT"]=Top10_Summary_df["Number of Crashes (5 Years)"]/(Top10_Summary_df["2019 Average VMT (100M)"]*5)

In [57]:
Top10_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year,Average Lanes,Crashes Per Mile Per Lane Per Year,2019 Average AADT,2019 Average VMT (100M),Crashes Per 100M VMT
top10,,,,,,,,,,,
1,IH0610,7.951,11.620,3.675239,4346,236.501626,7.500000,6.306710,219568.125000,2.945423,295.101878
2,IH0069,28.630,34.144,5.523593,564,20.421490,9.517241,0.429147,255627.379310,5.153733,21.887048
3,IH0069,34.144,37.165,3.026202,226,14.936214,7.090909,0.421278,149252.272727,1.648586,27.417427
4,IH0045,40.598,48.490,7.905374,5920,149.771535,7.416667,4.038783,198826.458333,5.737061,206.377449
5,IH0010,751.727,755.189,3.467575,3715,214.270780,6.166667,6.949323,285418.500000,3.612442,205.678060
6,IH0610,11.620,17.841,6.231546,3241,104.019131,9.230769,2.253748,192789.846154,4.385033,147.821022
7,IH0045,51.600,60.960,9.376923,9687,206.613619,8.133333,5.080663,251257.333333,8.599475,225.292812
8,IH0010,767.458,769.030,1.575002,630,79.999898,7.428571,2.153843,165008.000000,0.948591,132.828592
9,IH0010,755.189,761.806,6.629181,5120,154.468554,8.823529,3.501287,315506.235294,7.634150,134.134121
10,IH0045,48.892,51.600,2.712559,1743,128.513334,8.000000,3.212833,208537.400000,2.064696,168.838455

In [58]:
#Summarize crashe statistics by corridor
Top10_Summary_df.to_csv("Resources/Crash_Data/Processed/Top10CrashStatisticsSummary.csv")

In [59]:
#Summarize Total Number by Severity
df=Top10CongestedCrashes_df.groupby(['Top10','Crash_Sev_ID']).count()["Crash_ID"].to_frame()
# Reset the index on the DataFrame. This is needed to use the 'pivot()' function.
df = df.reset_index()

In [60]:
#Pivot Table of Crash Severities and format and rename columns
df=df.pivot(index="Top10",columns="Crash_Sev_ID",values="Crash_ID")
df

Crash_Sev_ID      0      1      2       3     4       5
Top10
1              70.0   37.0  231.0  1035.0   4.0  2969.0
2               9.0    5.0   37.0   111.0  10.0   392.0
3               4.0    2.0   12.0    51.0   5.0   152.0
4             114.0   71.0  385.0  1282.0  31.0  4037.0
5              59.0   33.0  304.0   746.0   8.0  2565.0
6             114.0   51.0  228.0   661.0   9.0  2178.0
7             242.0  115.0  597.0  2131.0  42.0  6560.0
8              18.0    7.0   39.0   123.0   NaN   443.0
9             111.0   61.0  309.0  1087.0  12.0  3540.0
10             52.0   22.0  126.0   366.0   9.0  1168.0