In [1]:
# Import dependencies 
import pandas as pd
import numpy as np

In [2]:
# Read csv file 
data = pd.read_csv (r'/Users/dylankurth/Documents/Dev_Projects/predictive_crash_final/Data/FortBendTop10CongestedCrashes.csv')
data.head()

/Users/dylankurth/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (20,23,38,45,93) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,...,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative,Year
0,18,14199980,N,N,N,N,N,N,N,1/1/15,...,1,5,0,1,0,15,54.0,24.0,NaN,2015
1,48,14201647,N,N,N,N,N,N,N,1/1/15,...,0,1,0,0,0,15,54.0,24.0,NaN,2015
2,196,14202855,N,N,N,N,N,N,N,1/2/15,...,0,1,1,0,0,15,54.0,24.0,NaN,2015
3,233,14203076,N,N,N,N,N,N,N,1/3/15,...,0,1,1,0,0,15,54.0,24.0,NaN,2015
4,586,14206356,N,N,N,N,N,N,N,1/3/15,...,0,1,1,0,0,15,54.0,24.0,NaN,2015

In [3]:
# Create first dataframe for database
crash_df = data[['Crash_ID', 'Crash_Date', 'Crash_Time', 'Crash_Speed_Limit', 'Crash_Fatal_Fl', 'Rpt_Hwy_Num']].set_index('Crash_ID')
crash_df.head()

         Crash_Date Crash_Time  Crash_Speed_Limit Crash_Fatal_Fl Rpt_Hwy_Num
Crash_ID
14199980     1/1/15    9:12 AM                 60              N         610
14201647     1/1/15    2:15 PM                 60              N          59
14202855     1/2/15    9:32 PM                 60              N         610
14203076     1/3/15    2:00 AM                 60              N         610
14206356     1/3/15    9:00 PM                 60              N         610

In [4]:
# Export to csv file 
crash_df.to_csv(r'/Users/dylankurth/Documents/Dev_Projects/predictive_crash_final/Data/crash_analysis.csv')

In [ ]:
""" SQL Table code

-- Table: public.crash_analysis

-- DROP TABLE public.crash_analysis;

CREATE TABLE public.crash_analysis
(
    "Crash_ID" integer NOT NULL,
    "Crash_Date" date,
    "Crash_Time" time with time zone,
    "Crash_Speed_Limit" integer,
    "Crash_Fatal_Fl" "char",
    "Rpt_Hwy_Num" "char",
    CONSTRAINT crash_analysis_pkey PRIMARY KEY ("Crash_ID")
)

TABLESPACE pg_default;

ALTER TABLE public.crash_analysis
    OWNER to postgres;
"""